<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div class="home-page">
    <h2 style="text-align: center; font-size: 50px">Sign in</h2>
    <form action="#" th:action="@{/userForm}" th:object="${user}" method="post">
        <div class="form-wrapper">
        <label style="font-size: 25px">Username:</label>
        <label>
            <input class="login-input" type="text" th:field="*{login}" required/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('login')}"
                  th:errors="*{login}">Login Error</span>
        </label>
        <br>
        <label style="font-size: 25px">Password:</label>
        <label>
            <input class="login-input" type="password" th:field="*{password}" required/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Password Error
            </span>
        </label>
            <br>
            <button class="button-form" type="submit">Submit</button>

        </div>
    </form>
</div>
</body>
</html>